:root {
    --seafoam: #00ffda;
    --gray: #696969;
    --dark-gray: #333333;
    --light-gray: #b7b7b7;
}

h1:not(.home-header) {
    font-family: "bebas_neuebold", sans-serif;
    font-size: 100px;
    color: var(--seafoam)
}

@media only screen and (max-width: 767px) {
    h1:not(.home-header) {
        font-size: 22vw;
    }
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
}

p {
    font-family: "Open Sans", sans-serif;
}

#about, #experience, #portfolio {
    padding-bottom: 20px;
}

.btn {
    background-color: var(--dark-gray);
    border-color: var(--seafoam);
    color: var(--seafoam);
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "bebas_neuethin", sans-serif;
    font-size: 25px;
}

.btn:hover {
    background-color: var(--seafoam);
    border-color: var(--dark-gray);
    color: var(--dark-gray);
}

/********** NAVIGATION BAR **********/

#sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#sidenav-icons a {
    padding: 6px 17px;
    text-decoration: none;
    color: var(--gray);
}

#sidenav-icons a:hover, #topnav-icons a:hover, #contact a:hover {
    color: var(--seafoam);
}

#sidenav-mid {
    font-size: 25px;
    position: absolute;
    top: 45%;
    transform: translateY(-55%);
}

#sidenav-bottom {
    font-size: 20px;
    position: absolute;
    top: 98%;
    transform: translateY(-105%);
}

#topnav {
    overflow: hidden;
    background-color: black;
    color: var(--seafoam);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#topnav a {
    float: left;
    display: block;
    color: var(--gray);
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}

#topnav-icons {
    width: 360px;
}

#topnav-icons a {
    padding: 14px 15px;
    position: relative;
}

#logo-sidenav, #logo-topnav {
    height: 60px;
    width: 60px;
    padding: 10px;
}

.center-icons-horizontally {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

/********** MAIN **********/

#main {
    /* margin-left: 60px; */
    margin: 0 0 0 60px;
    /* padding: 0px 0px 1px; */
    background-color: var(--dark-gray);
    color: white;
}

@media only screen and (max-width: 767px) {
    #main {
        margin: 60px 0 0;
    }
    #home, #about, #experience, #portfolio {
        /* TODO: update? */
        padding-top: 60px;
    }
}

/* TODO: get clearer image of logo */

/* .background-image {
    background-image: url(/Users/donovanmoini/Desktop/dmoini.github.io/images/logo-background.png);
    background-position: right 15% center;
    background-repeat: no-repeat;
    background-size: auto;
} */

@media only screen and (max-width: 767px) {
    .background-image {
        background-position: center;
    }
}

/********** HOME **********/

#home {
    height: 100vh;
}

/********** EXPERIENCE **********/

.progress {
    background-color: var(--gray);
    height: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.progress-bar {
    height: 20px;
    font-size: 125%;
    text-align: left;
    background-color: var(--seafoam);
}

.bar-text {
    font-family: "Open Sans", sans-serif;
    padding-left: 15px;
}

#courses-list {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    color: white;
}

/********** CONTACT BAR **********/

#contact {
    width: 100vw;
    height: 65px;
    background-color: black;
    /* TODO: figure out how to remove bottom white bar */
}

#contact a {
    color: #333333;
    /* break */
    float: left;
    display: block;
    color: #333333;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 20px;
    position: relative;
}

#contact-icons {
    width: 370px;
}